@media screen and (max-width: 767px) {

    .container {
        padding: 10px !important;
    }

    .card1 {
        padding: 20px 20px 10px;
    }

    .card2 {
        padding: 20px 20px 10px;
    }
    
    .ribbon-wrapper {
        margin-bottom: 80px;
    }

    .ribbon-front {
        left: -30px;
        width: 132%;
    }

    .ribbon-edge-topleft, .ribbon-edge-bottomleft {
        left: -30px;
    }

    .bank {
        width: 100%;
    }

    .complaint-detail {
        bottom: 0px;
        position: relative;
    }

    .session-img {
        width: 40%;
    }

    .payment-div {
        text-align: center;
    }

    .payment-tabs {
        justify-content: center;
    }

    .code-expire-div {
        text-align: center;
    }

    .vendor {
        width: 100%;
    }

    .session-text {
        color: #000;
        position: relative;
        margin-bottom: 0px;
    }

    #timer {
        font-weight: 100;
        padding: 0px;
        width: 100%;
        color: var(--black-color);
    }

    .wallet-card {
        margin-top: 0px;
    }

    .cards-card {
        margin-top: 0px;
    }

    .tab-content {
        margin-top: 25px;
    }

    .payment-card .card-body {
        padding: 20px 16px;
    }

     .ribbon-front .row {
        display: inline;
        text-align: end;
    } 
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .card1 {
        width: 100%;
        padding: 40px 30px 10px;
    }

    .card2 {
        width: 100%;
        padding: 40px 00px 10px;
    }

    .ribbon-front {
        left: -40px;
        width: 113%;
    }

    .ribbon-edge-topleft, .ribbon-edge-bottomleft {
        left: -40px;
    }

    .receipt-column {
        width: 650px;
        display: block;
        margin: 0 auto;
    }

    .userInput {
        width: 50%;
    }

    .vendor {
        width: 100%;
    }

    .session-text {
        color: #fff;
        position: relative;
        float: right;
        margin-right: -30px;
        top: -2px
    }

    #timer {
        font-weight: 100;
        padding: 0px;
        width: 100%;
        color: var(--black-color);
        text-align: end;
        position: absolute;
        margin-top: 20px;
        right: 55px;
    }

    .tab-content {
        margin-top: 40px;
    }

    .payment-amount {
        align-items: center;
    }

    .ribbon-front .row {
        height: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .bank {
        width: 50%;
    }

    .card0 {
        height: 800px;
    }
    
    .cards {
        height: 800px;
    }

    .card1 {
        width: 35%;
    }
    
    .card2 {
        width: 65%;
    }

    .receipt-column {
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    .userInput {
        width: 50%;
    }

    .vendor {
        width: 100%;
    }

    .session-text {
        color: #fff;
        position: relative;
        float: right;
        margin-right: -10px;
    }

    #timer {
        font-weight: 100;
        padding: 0px;
        width: 100%;
        color: var(--black-color);
        text-align: end;
        position: absolute;
        margin-top: 25px;
        right: 60px;
    }

    .tab-content {
        margin-top: 60px;
    }

    .cards-card {
        margin-top: 20px;
    }

    .payment-amount {
        align-items: center;
    }

    .ribbon-front .row {
        height: 100%;
    }

}

@media screen and (min-width: 1200px) {

    .bank {
        width: 50%;
    }

    .card0 {
        height: 700px;
    }
    
    .cards {
        height: 700px;
    }

    .card1 {
        width: 30%;
    }
    
    .card2 {
        width: 70%;
    }

    .receipt-column {
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    .userInput {
        width: 50%;
    }

    .vendor {
        width: 50%;
    }

    .session-text {
        color: #fff;
        position: relative;
        float: right;
        margin-right: -30px;
        top: 20px;
    }

    #timer {
        font-weight: 600;
        padding: 0px;
        width: 100%;
        color: var(--black-color);
        text-align: end;
        position: absolute;
        margin-top: 45px;
        right: 55px;
    }

    .tab-content {
        margin-top: 40px;
    }

    .payment-amount {
        align-items: center;
    }

    .ribbon-front .row {
        height: 100%;
    }

}
