:root {
    --primary-color: #FF213A;
    --black-color: #000000;
    --white-color: #ffffff;
    --bg-color: linear-gradient(to bottom, #4C5360, #2A323F);
    --bg-color2: linear-gradient(107.56deg, rgba(233, 238, 242, 0.9) 0%, rgba(239, 244, 248, 0.855) 100%);
    --font-family: Montserrat;
    --tabs-border: #4CAF50;
    --tabs-background: #C7E6C8;
    --tab-color: rgba(22,30,43,0.25);
    --tab-active: #000000;
    --btn-black: #161E2B;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--font-family);
}

.card0 {
    border-radius: 0 !important;
    border: none !important;
    height: 800px;
}

.cards {
    height: 800px;
}

.card1 {
    width: 35%;
    background: var(--bg-color);
    position: relative;
    border-radius: 0 !important;
    border: none !important;
}

.card2 {
    width: 65%;
    padding: 50px 0px 10px;
    background: var(--bg-color2);
    border-radius: 0 !important;
    border: none !important;
}

#logo {
    width: 70px;
    height: 60px;
}

.heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F);
}

.btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 !important;
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.bottom {
    width: 100%;
    margin-top: 50px !important;
}

.sm-text {
    font-size: 15px;
}

.text-red {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
}

.order {
    color: var(--white-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    padding-top: 30px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}

.custom-border {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 15px 0px;
}

/* Ribbon */

.ribbon-wrapper {
	position: relative;
	z-index: 998;
}

.ribbon-front {
	background: linear-gradient(to right,#FF213A, #B81829);
	height: 100px;
	width: 105%;
	position: relative;
	left: -10px;
	z-index: 2;
	color: #f8f8f8;
	text-align: center;
}

.ribbon-edge-topleft, .ribbon-edge-topright, .ribbon-edge-bottomleft, .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style: solid;
	height: 0px;
	width: 0px;
}

.ribbon-edge-topleft, .ribbon-edge-topright {
}

.ribbon-edge-bottomleft, .ribbon-edge-bottomright {
	top: 50px;
}

.ribbon-edge-topleft, .ribbon-edge-bottomleft {
	left: -10px;
	border-color: transparent #9B1724 transparent transparent;
}

.ribbon-edge-topleft {
	top: -5px;
	border-width: 5px 10px 0 0;
}

.ribbon-edge-bottomleft {
	border-width: 0 10px 0px 0;
}

.ribbon-edge-topright, .ribbon-edge-bottomright {
	left: 220px;
	border-color: transparent transparent transparent #9B1724;
}

.ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 10px;
}

.ribbon-edge-bottomright {
	border-width: 0 0 5px 10px;
}

@-webkit-keyframes flow {
	0% {
		left: -20px;
		opacity: 0;
	}

	50% {
		left: 100px;
		opacity: 0.3;
	}

	100% {
		left: 180px;
		opacity: 0;
	}
}

@keyframes flow {
	0% {
		left: -20px;
		opacity: 0;
	}

	50% {
		left: 100px;
		opacity: 0.3;
	}

	100% {
		left: 180px;
		opacity: 0;
	}
}

.ribbon-front .row {
    height: 100%;
}

.number, .email {
    color: var(--primary-color);
}

.complaint-detail {
    bottom: 50px;
    position: absolute;
}

footer {
    font-weight: 500;
}

.company {
    color: var(--primary-color);
}

/* Timer */

.session-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
}

.timer {
    position: absolute;
    top: 10%;
    right: 70px;
}

.timer p {
    display: inline;
}

.session-text {
    color: #fff;
    position: relative;
    float: right;
    margin-right: -30px;
}

#timer {
    font-weight: 100;
    padding: 0px;
    width: 100%;
    color: var(--black-color);
    text-align: end;
    position: absolute;
    margin-top: 25px;
    right: 55px;
}

.minutes {
    display: inline-block;
    background-color: var(--white-color);
    padding: 3px 5px;
    font-weight: bold;
}

.seconds {
    display: inline-block;
    background-color: var(--white-color);
    padding: 3px 5px;
    font-weight: bold;
}

/* Tabs */

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-link:focus, .nav-link:hover {
    color: var(--tabs-border);
}

.nav-link {
    padding: 8px;
    font-size: 12px;
    color: var(--tab-color);
}

.nav-link.active {
    font-weight: 600;
    color: var(--tab-active);
}

.nav-tabs .nav-link {
    width: 185px;
    height: 100px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
}

.payment-card {
    border-radius: 10px;
    margin-bottom: 5px;
}

.nav-tabs .nav-link.active .payment-card {
    background-color: var(--tabs-background);
    border: 1px solid var(--tabs-border);
}

.nav-tabs .nav-link.active .payment-card svg {
    color: var(--tabs-border);
}

.payment-card svg {
    font-size: 24px;
}

.select-bank, .bank-info, .otp {
    font-weight: 700;
}

.step {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
}

.star {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
}

.otp-code {
    font-size: 13px;
    font-weight: 600;
}

.code {
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
}

/* OTP */

.userInput {
	display: flex;
}

.userInput input {
    margin: 5px;
	height: 30px;
	width: 30px;
	border-bottom: 2px solid var(--btn-black);
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
	border-radius: 5px;
	text-align: center;
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.error {
    color: var(--primary-color);
}

/* Smart Wizard */

.sw-btn-prev, .sw-btn-prev:hover{
    border-radius: 5px;
    background-color: var(--btn-black) !important;
    border-color: var(--btn-black) !important;
    border-radius: 5px !important;
}

.sw-btn-next, .sw-btn-next:hover {
    border-radius: 5px;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    border-radius: 5px !important;
}

.toolbar-top {
    display: none;
}

.toolbar-bottom {
    text-align: left !important;
}

.thankyou-card {
    background: linear-gradient(to right, #E9EEF2, #EFF4F8) !important;
}

.receipt {
    color: var(--primary-color);
    text-align: end;
}

.receipt-card {
    border-radius: 25px;
    border: 1px solid var(--white-color)
}

.receipt-col {
    width: 500px;
}

.custom-borders {
    border-top: 1px solid rgba(22, 30, 43, 0.05);
    padding: 15px 0px;
}

.note {
    color: var(--primary-color);
}

.fa-print, .fa-download {
    color: var(--primary-color);
}

.btn-success {
    border-radius: 5px !important;
}

.btn-red {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5px;
}